.course-list-container {
  padding: 30px;
}

.course-list-container h2 {
  text-align: center;
  color: #1976d2;
  margin-bottom: 30px;
}

.course-list-container h3 {
  margin-top: 25px;
  color: green;
  text-align: center;
}

.course-list-container p {
  text-align: center;
  font-size: 18px;
}

app-course-card {
  display: block;
  margin-bottom: 20px;
}